html {
  scroll-behavior: smooth;
}





.result-2 p:first-child {
  height: 60px;
  font-weight: 500 !important;
  font-size: 0.9rem !important;
  line-height: initial;
  display: flex;
  justify-content: center;
  align-items: center;
}


.result-1 p:first-child {
  font-weight: 500 !important;
  font-size: 0.9rem !important;
}




.kdv-circle {
  background: #2500fa;
  width: 95px !important;
  height: 95px !important;
  color: #fff;
  bottom: -1rem !important;
}




  main .bg-hero2 .bg-hero-left .bg-hero-left-inner {
      max-width: 910px !important;
      margin: 0 auto;
      margin-top: 4rem !important;
  }



